{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dream.css' %}">
    <title>{{ dream.title }}</title>
</head>
<body class="dream-detail-page">
    <div id="wrapper">
        <div class="container">
            <header>
                <span class="close-btn" onclick="history.back()">&times;</span>
                <span id="dream-date" class="dream-date">{{ dream.dream_date }}</span>
                <span class="icon"></span>
            </header>

            <main class="content-card">
                <h1 id="dream-title" class="title">{{ dream.title }}</h1>
                <div id="dream-interpretation" class="interpretation">
                    {% for paragraph in dream.context.splitlines %}
                        <p>{{ paragraph }}</p>
                    {% endfor %}
                    {% if dream.tags %}
                        <p> {{ dream.tags }}</p>
                    {% endif %}
                    {% if dream.feelings %}
                        <p> {{ dream.feelings }}</p>
                    {% endif %}
                </div>
            </main>

            <footer>
                <form method="post" action="{% url 'dreams:dream_results' %}">
                    {% csrf_token %}
                    <button type="submit" class="save-button">해몽 저장하기</button>
                </form>
            </footer>

        </div>
    </div>
</body>
</html>
