{% load socialaccount %}

<div style="text-align: center;">
  <h2>꿈결</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="아이디"><br>
    <input type="password" name="password" placeholder="비밀번호"><br>
    <button class="btn login-btn" type="submit">로그인</button><br>
    <button class="btn signup-btn" type="button" onclick="location.href='/accounts/signup'">회원가입</button>
  </form>

  <hr>
  <p style="text-align:center; font-weight:bold;"> 간편 로그인 </p>

  <!-- 구글 로그인 버튼 -->
  <div style="text-align: center;">
    <a href="{% provider_login_url 'google' process='login' %}">구글 로그인</a>
  </div>
</div>