{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>저장한 꿈 해몽</h1>

        <div class="section">
            <h2>{{ interpret.dreamRecord.title }}</h2>
            <p>{{ interpret.dreamRecord.context }}</p>
            <p>{{ interpret.dreamRecord.tag }}</p>
            <p>{{ interpret.dreamRecord.feelings }}</p>
        </div>

        <div class="section">
            <h2>저장한 해몽</h2>
            <p>{{ interpret.result|safe }}</p>
        </div>
    </div>
{% endblock %}